<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>Choose your pokemon:</div>
    <% for (i = 0; i < tabPokemon.length; i++) { %>
    <ul style="cursor: pointer">
      <a href="/combat?numero=<%=i%>">
        <li><%= tabPokemon[i] %></li>
      </a>
    </ul>
    <% } %>
  </body>
  <script></script>
</html>
