body {
  font-family: "Dongle", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

a {
  color: #00b7ff;
}

#gameboy {
  position: absolute;
  z-index: 1;
}

#terrain {
  position: absolute;
  margin-left: 247px;
  margin-top: 213px;
  z-index: 2;
}

#pokemonVS {
  position: absolute;
  margin-top: 250px;
  margin-left: 475px;
  z-index: 3;
}

#pokemon {
  position: absolute;
  margin-top: 272px;
  margin-left: 255px;
  z-index: 3;
}

#textPoke {
  position: absolute;
  margin-left: 247px;
  margin-top: 437px;
  width: 338px;
  height: 82px;
  padding-top: 5px;
  padding-left: 5px;
  z-index: 4;
  border: 4mm ridge rgba(211, 220, 50, 0.6);
  background-color: white;
}

#attaquePoke1 {
  position: absolute;
  margin-left: 261px;
  margin-top: 451px;
  z-index: 5;
  border: 1mm ridge rgba(211, 220, 50, 0.6);
  width: 167px;
  height: 39px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 223, 148);
}
#attaquePoke2 {
  position: absolute;
  margin-left: 432px;
  margin-top: 451px;
  z-index: 5;
  border: 1mm ridge rgba(211, 220, 50, 0.6);
  width: 167px;
  height: 39px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 223, 148);
}
#attaquePoke3 {
  position: absolute;
  margin-left: 261px;
  margin-top: 494px;
  z-index: 5;
  border: 1mm ridge rgba(211, 220, 50, 0.6);
  width: 167px;
  height: 39px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 223, 148);
}
#attaquePoke4 {
  position: absolute;
  margin-left: 432px;
  margin-top: 494px;
  z-index: 5;
  border: 1mm ridge rgba(211, 220, 50, 0.6);
  width: 167px;
  height: 39px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 223, 148);
}

#cadrePoke {
  position: absolute;
  margin-left: 440px;
  margin-top: 354px;
  width: 160px;
  height: 50px;
  padding-left: 3px;
  z-index: 4;
  border: 2mm ridge rgba(211, 220, 50, 0.6);
  background-color: rgb(255, 223, 148);
  display: flex;
  font-size: 14px;
}

#nomPoke {
  z-index: 5;
  padding-left: 3px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  font-size: 14px;
  position: absolute;
  margin-left: 445px;
  margin-top: 347px;
}

#divBarrePoke {
  z-index: 5;
  position: absolute;
  margin-left: 450px;
  margin-top: 375px;
}

#pvMaxPoke {
  position: absolute;
  margin-left: 546px;
  margin-top: 390px;
  z-index: 5;
}

#cadrePokeVS {
  margin-left: 249px;
  margin-top: 215px;
  width: 160px;
  height: 50px;
  z-index: 4;
  border: 2mm ridge rgba(211, 220, 50, 0.6);
  background-color: rgb(255, 223, 148);
  position: absolute;
  padding-left: 3px;
  display: flex;
  font-size: 14px;
}

#nomPokeVS {
  position: absolute;
  margin-left: 254px;
  margin-top: 209px;
  width: 160px;
  padding-left: 3px;
  z-index: 4;
  justify-content: space-between;
  align-content: flex-start;
  display: flex;
  font-size: 14px;
}

#barrePokeVS {
  z-index: 5;
  position: absolute;
  margin-left: 259px;
  margin-top: 241px;
}

#pvMaxPokeVS {
  position: absolute;
  margin-left: 353px;
  margin-top: 252px;
  z-index: 4;
}

#badgeAtt1 {
  height: 20px;
  width: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#badgeAtt2 {
  height: 20px;
  width: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#badgeAtt3 {
  height: 20px;
  width: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#badgeAtt4 {
  height: 20px;
  width: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#pokeball {
  z-index: 5;
  position: absolute;
  flex-direction: row;
  margin-left: 533px;
  margin-top: 415px;
  width: 100px;
  height: 15px;
}

#pokeballVS {
  z-index: 5;
  position: absolute;
  flex-direction: row;
  margin-left: 252px;
  margin-top: 277px;
  width: 100px;
  height: 15px;
}

#statut {
  z-index: 6;
  position: absolute;
  height: 15px;
  width: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 259px;
  margin-top: 256px;
}

#statutVS {
  z-index: 6;
  position: absolute;
  height: 15px;
  width: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 450px;
  margin-top: 395px;
}
